---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layer from "../components/Layer.astro";
import If from "../components/jinja/If.astro";
import "../styles/base.css";
import icon from "../lib/icon.svg?url";

const plans = [
  {
    name: "Hobby",
    planId: "hobby",
    price: "$5/month",
    description: "250 daily requests for all models",
  },
  {
    name: "Pro",
    planId: "pro",
    price: "$10/month",
    description: "1000 daily requests for all models, plus priority support",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href={icon} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
  </head>
  <body>
    <Header />
    <main>
      <h2 class="font-headline-large">With plans, never worry about prices per token</h2>
      <div class="plans">
        {
          plans.map(({ name, planId, price, description }) => (
            <>
              <If condition={`plan == '${planId}'`}>
                <a
                  class="plan"
                  href="/plan-api/free"
                  onclick={`if(!confirm('Remove all ${name} priviliges?')){event.preventDefault()}`}
                >
                  <Layer />
                  <h3>
                    {name} • <span class="price">{price}</span>
                  </h3>
                  <p>{description}</p>
                  <div class="fake-button error">Unsubscribe</div>
                </a>
              </If>
              <If condition={`plan != '${planId}'`}>
                <If condition="not loggedin">
                  <a class="plan" href="/signin">
                    <Layer />
                    <h3>
                      {name} • <span class="price">{price}</span>
                    </h3>
                    <p>{description}</p>
                    <div class="fake-button">Sign in</div>
                  </a>
                </If>
                <If condition="loggedin">
                  <a
                    class="plan"
                    href={`/plan-api/${planId}`}
                    onclick={`if(!confirm('Subscribe to ${name}?')){event.preventDefault()}`}
                  >
                    <Layer />
                    <h3>
                      {name} • <span class="price">{price}</span>
                    </h3>
                    <p>{description}</p>
                    <div class="fake-button">Purchase</div>
                  </a>
                </If>
              </If>
            </>
          ))
        }
      </div>
      <h2 class="font-headline-large">Models</h2>
      <table class="models-table">
        <thead>
          <tr class="font-title-medium">
            <th style="text-align: left">Model</th>
            <th style="text-align: right">$/M in</th>
            <th style="text-align: right">$/M out</th>
            <th style="text-align: right">Speed</th>
          </tr>
        </thead>
        <tbody>
          <Fragment set:html={`{% for item in models %}<tr>
  <td>
    <h2 class="font-title-medium">
      {{ item.id }}
      <button
        class="copy-button"
        onclick="navigator.clipboard.writeText('{{ item.id }}')"
        title="Copy model ID"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M9 18q-.825 0-1.412-.587T7 16V4q0-.825.588-1.412T9 2h9q.825 0 1.413.588T20 4v12q0 .825-.587 1.413T18 18zm0-2h9V4H9zm-4 6q-.825 0-1.412-.587T3 20V7q0-.425.288-.712T4 6t.713.288T5 7v13h10q.425 0 .713.288T16 21t-.288.713T15 22zm4-6V4z"
          ></path>
        </svg>
      </button>
    </h2>
    <div class="chips">
      <div class="chip font-label-medium">{{ item.quantization }}</div>
      <div class="chip font-label-medium">
        {% if item.max_completion_tokens != item.context_length %}
          {{ (item.context_length / 1024) | int }}k context / {{ (item.max_completion_tokens / 1024) | int }}k output
        {% else %}
          {{ (item.context_length / 1024) | int }}k
        {% endif %}
      </div>
    </div>
  </td>
  <td style="text-align: right">\${{ item.pricing["prompt"] }}</td>
  <td style="text-align: right">\${{ item.pricing["completion"] }}</td>
  <td style="text-align: right; {% set speed_val = item.speed %}{% set speed_percent = (((speed_val - 10) / (1000 - 10)) * 100) | int %}{% set speed_percent_clamped = [0, [speed_percent, 100] | min] | max %}color: color-mix(in oklab, oklch(0.8 0.3379 164.12) {{ speed_percent_clamped }}%, oklch(0.8 0.0664 0))">
    {{ item.speed }} tps
  </td>
</tr>{% endfor %}`} />
        </tbody>
      </table>
    </main>

    <Footer pushToBottom={true} />
  </body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;

    align-self: center;
    width: 100%;
    max-width: 50rem;

    > * {
      margin-top: 1em;
    }
  }
  .plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .plan {
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;

    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: rgb(var(--m3-scheme-surface-container));
    cursor: pointer;

    > h3 {
      font-weight: bold;
    }
    .price {
      color: rgb(var(--m3-scheme-primary));
    }
    > p {
      margin-bottom: 0.5rem;
    }
    > .fake-button {
      display: flex;
      align-items: center;
      align-self: end;
      height: 3rem;
      border-radius: 1.5rem;

      padding-inline: 1rem;

      background-color: rgb(var(--m3-scheme-primary));
      color: rgb(var(--m3-scheme-on-primary));
      &.error {
        background-color: rgb(var(--m3-scheme-error));
        color: rgb(var(--m3-scheme-on-error));
      }

      margin-top: auto;
      margin-right: -0.5rem;
      margin-bottom: -0.5rem;
    }
  }

  .models-table {
    width: 100%;
    border-collapse: collapse;
    font-feature-settings: "tnum";
  }

  .models-table th,
  .models-table td {
    margin: 0;
    padding: 0;
    border: none;
    padding-block: 0.5rem;
    border-bottom: 1px solid rgb(var(--m3-scheme-outline-variant));
    /*&:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }*/
  }

  .models-table h2 {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    margin: 0;
  }

  .copy-button {
    cursor: pointer;
  }

  .chips {
    display: flex;
    gap: 0.25rem;
    margin-top: 0.25rem;
  }

  .chip {
    display: flex;
    height: 2rem;
    align-items: center;
    padding-inline: 0.5rem;
    border-radius: 9999px;
    background-color: rgb(var(--m3-scheme-primary-container-subtle));
    color: rgb(var(--m3-scheme-on-primary-container-subtle));
  }
</style>
